.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 64px;
  position: absolute;
}

.header__logo {
  width: 170px;
  margin-right: 64px;
}

.header__menu {
  margin-right: auto;
  margin-left: 0;
}

.header__menu__item {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-right: 24px;
  color: #807E81;
}

.header__menu__item svg {
  margin-right: 8px;
  fill: #807E81;
}

.header__menu__item--active {
  color: #FFFFFF;
}

.header__menu__item--active svg {
  fill: #FFFFFF;
}

@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
    padding: 18px;
    justify-content: space-between;
  }

  .header__logo {
    width: 100px;
  }

  .header__menu {
    order: 3;
    margin-top: 40px;
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .header__menu::-webkit-scrollbar {
    display: none;
  }

  .header__menu__item {
    font-size: 16px;
  }
}
