.cover {
  width: 215px;
  height: 290px;
  border-radius: 3px;
  position: relative;
  background-image: linear-gradient(180deg, rgba(10, 7, 11, 0) 50%, #0A070B 100%);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  overflow: hidden;
}

.cover--large {
  width: 400px;
  height: 240px;
}

.cover__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover__title {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  padding: 8px 12px;
}

@media (max-width: 480px) {
  .cover {
    width: 100px;
    height: 135px;
  }

  .cover--large {
    width: 275px;
    height: 165px;
  }

  .cover__title {
    font-size: 11px;
    line-height: 12px;
    padding: 4px;
  }
}
