.banner {
  width: 100%;
  height: 720px;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.35) 40%, rgba(0,0,0,0.9) 90%), url("../../images/background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
}

.banner__title {
  color: #ffffff;
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -1.5px;
}

.banner__subtitle {
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 40px;
}
